.form__input-block {
    display: block;
    margin: 1rem .5rem;
    padding-bottom: 0;
    border-bottom: 1px dashed gray;
}

.form__input-block:active, .form__input-block:hover {
    border-bottom: 1px dashed white;
    text-shadow: 1px 1px 2px black,
    0 0 30px #aa0101,
    0 0 10px red;
}

.input-block__label {
    display: block;
}

.input-block__input {
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    border: none;
    background: none;
    color: white;
    font: inherit;
    text-align: center;
}

.input-block__label_error {
    color: red;
    margin-bottom: .5rem;
}

.input-block__input_control {
    font-weight: bold;
    margin-top: 1rem;
    border: 1px dashed gray;
}

.input-block__input_control:hover, .input-block__input_control:active {
    text-shadow: 1px 1px 2px black,
    0 0 30px #aa0101,
    0 0 10px red;
}
