.game {
  position: absolute;
  top: 3rem;
  left: 0;
  height: 90%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}

#game {
  position: absolute;
  top: 50%;
  width: $game-width;
  height: @width;
  margin-top: -400px;
  margin-left: -400px;
}

.replay {
  position: absolute;
  top: 3rem;
  width: 100%;
}

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .game {
    position: inherit;
    height: 90%;
  }

  #game {
    position: inherit;
    width: $min-width;
    height: @width;
    margin: 0;
    margin-top: -3rem;
  }

  .replay {
    top: 4rem;
    width: $min-width;
  }
}
