.leaderboard {
  width: 0;
  min-width: $min-width;
  margin: -3rem auto auto;
}

.leaderboard__leader_current {
  font-weight: bold;

  @mixin glow-more;
}

.leader__info {
  height: 2.8rem;
  line-height: 2.8rem;

  @mixin underlined $border-primary-color;
}

.leader__info_w10 {
  width: 10%;
}

.leader:hover .leader__info {
  @mixin underlined $border-accented-color;
  @mixin glow-more;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .leaderboard * {
    display: block;
    border: 0;
  }

  .leader {
    @mixin underlined $border-primary-color;
  }

  .leader__info {
    position: relative;
    padding-left: 52%;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
  }

  .leader__info:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    white-space: nowrap;
    text-align: right;
  }

  .leader__info_w10 {
    width: inherit;
  }

  td:nth-of-type(1):before { content: "Место: "; }
  td:nth-of-type(2):before { content: "Логин: "; }
  td:nth-of-type(3):before { content: "Счёт: "; }
}
