
.leaderboard {
  width: 0;
  min-width: $min-width;
  margin: -3rem auto auto;
}

.leaderboard__leader_current {
  font-weight: bold;

  @mixin glow-more;
}

.leader__info {
  height: 2.8rem;
  line-height: 2.8rem;

  @mixin underlined $border-primary-color;
}

.leader__info_w10 {
  width: 10%;
}

.leader:hover .leader__info {
  @mixin underlined $border-accented-color;
  @mixin glow-more;
}
