.leaderboard__leader_current {
    font-weight: bold;
    text-shadow: 1px 1px 2px black,
        0 0 30px #aa0101,
        0 0 10px red;
}

.leader__info_score, .leader__info_place {
    width: 10%;
}

.leader:hover .leader__info {
    border-bottom: 1px dashed white;
    text-shadow: 1px 1px 2px black,
        0 0 30px #aa0101,
        0 0 10px red;
}
