.heading-login{
font-size: 20pt; 
left: 45%;
padding-top: 20px; 
width: 100px;
}

.heading-signup{
font-size: 20pt; 
margin-left: 42%; 
margin-top: 5%;
}

.form-fields{
position: block; 
left: 20%; 
width: 60%;
}

.field-width{
max-width: 400px;
}

.form-fields-singup{
position: block; 
margin-left: 25%; 
width: 50%;
}