@font-face {
    font-family: 'Roboto Slab';
    src: url('../media/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: bold;
    src: url('../media/RobotoSlab-Bold.ttf');
}

* {
    outline: none;
}

html {
    height: 100%;
    width: 100%;
    min-width: 25rem;
    overflow-x: hidden;
    background: black url('../media/bg.gif') 50% 50%;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
    height: 100%;
    margin: 0;
    background: url('../media/emblem.gif') no-repeat 60vw 50%;
}

a {
    color: white;
    text-decoration: none;
}

.top {
    padding: 8px;
    border-bottom: 1px dashed gray;
}

.container {
    width: 100%;
    height: 90%;
    display: table;
}

.container-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1rem 0;
}

.header {
    font-size: 400%;
    margin-bottom: 0;
}

.header:hover {
    text-shadow: 1px 1px 2px black,
    0 0 10px #aa0101,
    0 0 5px red;
}

.subheader {
    font-size: 120%;
    margin-top: 0;
}

.items {
    width: 0;
    min-width: 20rem;
    margin: 3em auto auto;
}

.play {
    font-size: 120%;
    color: red;
}

col.place, col.score {
    width: 10%;
}

.items a {
    display: block;
    height: 2.8rem;
    margin: 0.5rem;
    line-height: 2.8rem;
    border-bottom: 1px dashed gray;
}

.items p {
    display: block;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px dashed gray;
}

.items td {
    height: 2.8rem;
    line-height: 2.8rem;
    border-bottom: 1px dashed gray;
}

.items a:hover, .items a:active, .items tr:hover td,
.items form p:active, .items form p:hover {
    border-bottom: 1px dashed white;
}

a:hover, a:active {
    text-shadow: 1px 1px 2px black,
    0 0 30px #aa0101,
    0 0 10px red;
}

.menu a:hover {
    font-size: 120%;
    font-weight: bold;
}

.items a:hover, .items tr:hover td, .you,
.items form p:active, .items form p:hover,
.submit:hover, .submit:active {
    text-shadow: 1px 1px 2px black,
    0 0 30px #aa0101,
    0 0 10px red;
}

.items form p {
    display: block;
    margin: 1rem 0.5rem;
    padding-bottom: 0;
    border-bottom: 1px dashed gray;
}

.items label {
    display: block;
    /*visibility: hidden;*/
}

.items input {
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    border: none;
    background: none;
    color: white;
    font: inherit;
    text-align: center;
}

input.submit {
    font-weight: bold;
    margin-top: 1rem;
    border: 1px dashed gray;
}

.error {
    color: red;
    /*display: none;*/
}

.you {
    font-weight: bold;
}
