.top {
  padding: 0.5rem;
  height: 1.3rem;
  z-index: 5;

  @mixin underlined $border-primary-color;
}

.top__divider {
  font-weight: bold;
  display: inline-block;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .top {
    height: auto;
  }
}
