div.game
    canvas#game(width="600" height="600")
        p Сожалеем, но Ваш браузер не поддерживается.
    div.controls
        div.controls__button.controls__button-left &#8612;
        div.controls__button.controls__button-up &#8613;
        div.controls__button.controls__button-down &#8615;
        div.controls__button.controls__button-right &#8614;