if locals.items.length
    table
        each item, index in locals.items
            if user
                tr(class= (item.login === user.login) ? 'you' : '')
            else
                tr
                td.place= index + 1
                td.login= item.login
                td.score= item.score
else
    p Лидеров пока нет