p Наша игра - сетевой пинг-понг для трёх пользователей.
p Мы используем JavaScript + Java.
p Проект является семестровым заданием нашей команды из&nbsp;
    a(href='http://park.mail.ru') Технопарка@mail.ru
    | .