div.controls
    div.controls__button.controls__button_left &#8612;
    div.controls__button.controls__button_up &#8613;
    div.controls__button.controls__button_down &#8615;
    div.controls__button.controls__button_right &#8614;
