form#signUpForm.registration(autocomplete="off")
    p
        label(for="login") Логин:
        input#login(type="text" name="login" autofocus placeholder="Введите логин")
        label#errorLogin.error(for="login")
    p
        label(for="password") Пароль:
        input#password(type="password" name="password" placeholder="Введите пароль")
        label#errorPassword.error(for="password")
    p
        label(for="password2") Еще раз пароль:
        input#password2(type="password" name="password2" placeholder="Повторите пароль")
        label#errorPassword2.error(for="password2")
    p
        label(for="email") E-mail:
        input#email(type="email" placeholder="example@example.com")
        label#errorEmail.error(for="email")
    p
        input#submitSignUpButton.submit(type="submit" value="Зарегистрироваться")
    a(data-page="login" href="#") Войти