if locals.user
    a(data-page="index" href="#") В меню
    |
    span.top__divider &#183;
    |
    a(data-page="leaders" href="#") Привет, #{user.login}!
    |
    span.top__divider &#183;
    |
    a(data-page="logout" href="#") Выйти
else
    a(data-page="index" href="#") Меню
    |
    span.top__divider &#183;
    |
    a(data-page="login" href="#") Войти
    |
    span.top__divider &#183;
    |
    a(data-page="signup" href="#") Зарегистрироваться